
*{
    box-sizing: border-box;
    list-style: none;
}
body{
    margin: 0;
}
/* header{

     padding: 50px;
     text-align: center;
     background-color: rgb(17, 143, 158);
     color: #fff;
}
header h1{
    font-size: 40px;
} */
nav{
     background-color: #333;
     overflow: hidden;
}
nav a {
    display: block;
    text-decoration: none;
    color: #fff;
    float: left;
    padding: 30px;
    font-size: 20px;
}
section{

    text-align: center;
    padding-top: 40px;
    height: 109vh;
}
section:nth-child(even){

    background-color:  #ececec;
}

section h2{
    padding-bottom: 40px;
    padding-top: 20px;
}
footer{
        overflow: hidden;
        background-color: #333;
        margin-top: 20px;
}
footer a{

    display: block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
    float: left;
}
.copyright{

    float: right;
}
section:nth-child(4){

    padding: 10px;
}
.banner{

    background-image: url(assets/logo.gif);
    height: 40vh;
    min-height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-size: 50%;
    background-color: black;
    background-attachment: fixed;

}
.menu:hover{

    background-color: #ddd;
    color: #333;
}
section h2 span{

background: #2A7B9B;
background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 0%, rgba(222, 208, 51, 1) 73%);
padding: 10px 55px;
border-radius: 20px;
color: #ffffffd7;

}
/* external css: flickity.css */


body { font-family: sans-serif; }

.carousel {
  /* background: #EEE; */
}

.carousel-cell {
  width: 66%;
  height: 500px;
  margin-right: 10px;
  /* background: #8C8; */
  border-radius: 5px;
  /* counter-increment: carousel-cell; */
}

.carousel-cell video{
    max-width: 100%;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  /* content: counter(carousel-cell); */
  line-height: 200px;
  font-size: 80px;
  color: white;
}
.iframe-container {
  overflow: hidden;
  /* padding-top: 56.25%; 16:9 */
  position: relative;
   width: 100%;
} 
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

@media screen and (max-width: 700px){

    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
}